#define WIFI_SSID               "your-wifi-ssid"
#define WIFI_PASSWORD           "your-wifi-password"

#define MQTT_BROKER_IP          "the-ip-to-your-home-assistant-broker"
#define MQTT_BROKER_PORT        your-home-assistant-broker-port-number
#define MQTT_BROKER_USERNAME    "home-assistant-broker-mqtt-username"
#define MQTT_BROKER_PASSWORD    "home-assistant-broker-mqtt-password"
#define MQTT_CLIENT_ID          "whatever-unique-id-for-your-board"
#define MQTT_TOPIC              "/the/topic/path/defined/in/home assistant/configuration.yaml"
